@charset "UTF-8";

@import "https://unpkg.com/swiper/swiper-bundle.min.css";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-aizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------*/

@font-face {
  font-family: "Future PT";
  src: url("../fonts/FuturaPT-Light.woff"), url("../fonts/FuturaPT-Light.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Future PT";
  src: url("../fonts/FuturaPT-Medium.woff"), url("../fonts/FuturaPT-Medium.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Future PT";
  src: url("../fonts/FuturaPT-Bold.woff"), url("../fonts/FuturaPT-Bold.woff2");
  font-weight: 700;
}

body {
  font-family: "Future PT";
}

.icon-menu {
  display: none;
  background: transparent;
  z-index: 11;
}

.icon-menu {
  display: block;
  width: 30px;
  position: relative;
  height: 18px;
  cursor: pointer;
  z-index: 11;
  left: -15px;
}

.icon-menu.cart span {
  background: #000;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: #000;
}

.icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu {
  z-index: 20;
  position: relative;
}

.menu_body {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  min-height: 120vh;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.menu_body.active {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  opacity: 0;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 20px 20px;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: translate(35%, 0);
      -ms-transform: translate(35%, 0);
          transform: translate(35%, 0);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.menu__list.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  overflow: auto;
}

.slider-swiper-wrapper {
  position: relative;
}

.image-slider__image img {
  max-width: 100%;
}

/* @import "noUiSlider.min.scss"; */

/* @import 'noUiSlider.scss'; */

/* @import "checkbox.scss"; */

/* @import "dropdownMenu.scss"; */

.pre-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 60px;
  color: #000;
}

.title.modify {
  color: #fff;
}

.btn-header {
  color: #FFFFFF;
  font-weight: bold;
}

.article-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

.article-date {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.article-paragraph {
  font-weight: 100;
  font-size: 18px;
  line-height: 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.article-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: block;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid #0000;
}

.none {
  display: none;
}

.grid {
  display: grid;
}

.hidden {
  overflow: hidden;
}

.hidden.active {
  padding-right: 19px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rub:after {
  content: '₽';
}

.usd:after {
  content: '$';
}

.euro:after {
  content: '€';
}

.copyright:before {
  content: '©';
}

.header-block {
  position: relative;
}

.header-block__icon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  padding-top: 48px;
}

.header .fa-instagram {
  color: #000;
}

.header .fa-facebook-f {
  color: #000;
}

._container {
  max-width: 1330px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.flex-header__item.flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-header__link {
  width: 161px;
  height: 65px;
}

.header-form {
  width: 400px;
  height: 30px;
  background: #fff;
  border-radius: 15.5px;
  position: relative;
  -webkit-transition: border-radius .3s ease;
  -o-transition: border-radius .3s ease;
  transition: border-radius .3s ease;
}

.header-form.gray {
  background: #f2f2f2;
}

.header-form__input {
  width: 400px;
  height: 30px;
  padding: 5px 15px 5px 35px;
  background: url("../img/header/search.svg") no-repeat;
  background-position: 10px 50%;
}

.header-form.focus {
  border-radius: 15.5px 15.5px 0 0;
}

.header-form__icon {
  display: none;
}

.header-form.down {
  position: absolute;
  top: 115px;
  right: 2.5%;
  width: 95vw;
  display: block;
  z-index: 5;
}

.header-form__card {
  display: none;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  position: relative;
  width: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-form__card:before {
  content: '';
  position: absolute;
  left: 18px;
  background: url("../img/header/bike.png") no-repeat;
  z-index: 5;
  width: 72px;
  height: 49px;
}

.header-form__card.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.header-form.down .header-form__input {
  display: block;
}

.item-header__cart {
  display: none;
}

.card-header__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #000;
}

.card-header__cost {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #000;
}

.card-header.open {
  background: #F2F2F2;
  border-bottom: 1px solid #000000;
}

.card-header.open:last-child {
  border-radius: 0 0 15.5px 15.5px;
  border-bottom: none;
}

.menu__link {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 5px;
  display: block;
  color: #000;
}

.menu__link.navigation {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 5px;
}

.menu__link.navigation.style {
  margin-bottom: 30px;
}

.menu__link.navigation.marginTop {
  margin-top: 30px;
}

.menu__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__language button {
  background: 0;
  font-weight: 100;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  display: block;
}

.menu__language button:first-child {
  padding-right: 7px;
}

.menu__language button:last-child {
  padding-left: 7px;
}

.menu__black-cart {
  display: block;
  margin-left: 35px;
}

.menu-wrapper {
  margin-bottom: 40px;
}

.menu-wrapper.flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section-header__flex {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-header__flex > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.section-header__content {
  font-weight: 100;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  padding-bottom: 30px;
}

.section-header-wrapper {
  padding-left: 30px;
}

.section-header.second-page {
  margin-top: 90px;
  -webkit-transition: margin-top .3s ease;
  -o-transition: margin-top .3s ease;
  transition: margin-top .3s ease;
}

.section-header.second-page.down {
  margin-top: 140px;
}

.main-item {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #fff));
  background: -o-linear-gradient(left, #f2f2f2 50%, #fff 50%);
  background: linear-gradient(90deg, #f2f2f2 50%, #fff 50%);
}

.main-item__container {
  padding-left: 0;
}

.main-item .swiper-slide {
  text-align: center;
}

.main-item .swiper-slide img {
  width: 80%;
}

.main-item .swiper-wrapper {
  padding-left: 25px;
}

.main-item .swiper-button-prev {
  left: 50px;
}

.main-item__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.main-item .a-swiper-pagination > .swiper-pagination-bullet {
  width: 24px;
  height: 5.83px;
  border-radius: 0;
  background: #575757;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.main-item .a-swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}

.name-item-main {
  padding: 64px 70px 70px 15px;
  color: #000;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  background: #f2f2f2;
}

.name-item-main__name {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 15px;
}

.name-item-main__name.modify {
  margin-bottom: 0;
}

.name-item-main__cost {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  padding-bottom: 15px;
}

.name-item-main__content {
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 25px;
}

.name-item-main__colors {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
}

.name-item-main__link {
  display: block;
  max-width: 302px;
  border: 3px solid #000;
  padding: 11px 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  margin-top: 20px;
}

.black {
  position: relative;
  width: 26px;
  height: 26px;
}

.black:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 5px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 50%;
  background: #000000;
  border: 1px solid #DBDBDB;
  z-index: 5;
}

.black.active:after {
  border: 2px solid #000000;
}

.black:after {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 26px;
  height: 26px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  background: #f2f2f2;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.blue {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.blue:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 16px;
  height: 16px;
  margin: 5px;
  margin-bottom: 50px;
  border-radius: 50%;
  background: #5A88FF;
  border: 1px solid #DBDBDB;
  z-index: 5;
}

.blue.active:after {
  border: 2px solid #000000;
}

.blue:after {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 26px;
  height: 26px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  background: #f2f2f2;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.red {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.red:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 16px;
  height: 16px;
  margin: 5px;
  margin-bottom: 50px;
  border-radius: 50%;
  background: #FF5A5A;
  border: 1px solid #DBDBDB;
  z-index: 5;
}

.red.active:after {
  border: 2px solid #000000;
}

.red:after {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 26px;
  height: 26px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  background: #f2f2f2;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.main-slider-swiper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67%;
          flex: 0 0 67%;
  background: #fff;
  height: 100%;
  min-width: 0;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.main-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider-swiper-arrow-next,
.main-slider-swiper-arrow-prev {
  color: #000 !important;
}

.header-block.cart:not(.news) {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #fff));
  background: -o-linear-gradient(left, #f2f2f2 50%, #fff 50%);
  background: linear-gradient(90deg, #f2f2f2 50%, #fff 50%);
}

.header-block.cart:not(.news) ._container {
  padding: 0;
}

.header-block.cart:not(.news) .header {
  padding-top: 0;
}

.header-block.cart:not(.news) .header__container {
  padding-top: 48px !important;
}

.header-form.down.cart {
  z-index: 21;
}

.main-item__container.cart,
.header__container.cart {
  background: -webkit-gradient(linear, left top, right top, color-stop(71%, #f2f2f2), color-stop(29%, #fff));
  background: -o-linear-gradient(left, #f2f2f2 71%, #fff 29%);
  background: linear-gradient(90deg, #f2f2f2 71%, #fff 29%);
}

.header-block.cart .flex-header__img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.main-item__background.modify {
  background: #f2f2f2;
  width: 71%;
}

.name-item-main.cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.6%;
          flex: 0 0 25.6%;
  background: #fff;
  padding-left: 40px;
  padding-right: 0;
}

.main-slider-swiper.cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68%;
          flex: 0 0 68%;
}

.name-item-main__cost.cart {
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
}

.name-item-main__colors.cart > span {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.name-item-main__colors.cart > span.active {
  opacity: 1;
  visibility: visible;
}

.name-item-main__color.cart {
  cursor: pointer;
}

.name-item-main__link.cart {
  margin: 0 auto;
}

.main-item-wrapper.cart {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.accessories-carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accessories-cart {
  position: relative;
  background: #f2f2f2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  margin: 50px 0 60px;
}

.accessories-cart__img {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.accessories-cart__paragraph {
  display: block;
  padding-top: 60px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
}

.accessories-cart__cost {
  display: block;
  padding-bottom: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
}

.accessories-cart__item {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #000;
  position: absolute;
  bottom: -13px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.accessories-cart__item.other {
  padding-bottom: 3px;
}

.amount-cart {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  padding-bottom: 20px;
}

.amount-cart__amount {
  font-weight: normal;
}

.form-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 20px;
}

.form-cart-wrapper {
  padding-bottom: 20px;
}

.form-cart-wrapper:not(:first-child) {
  margin-left: 20px;
}

.form-cart__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-cart__input + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
}

.form-cart__input + label span {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding-left: 14px;
  cursor: pointer;
}

.form-cart__input + label::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  padding: 3px;
  border: 3px solid #000;
}

.form-cart__input:not(:disabled):checked + label::after {
  content: '';
  position: absolute;
  top: 5.2px;
  left: 5px;
  width: 13px;
  height: 13px;
  background: #000;
}

.flex-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper .swiper-slide .cart-img {
  width: 84.7%;
}

.blur.cart {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 15;
  height: 120vh;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.blur.cart.active {
  opacity: 0.7;
  visibility: visible;
}

@-webkit-keyframes open {
  0% {
    display: none;
  }

  100% {
    display: block;
  }
}

@keyframes open {
  0% {
    display: none;
  }

  100% {
    display: block;
  }
}

.main-item__container.cart {
  z-index: 20;
}

.main-item__container.cart.active {
  z-index: 0;
}

.main {
  overflow: hidden;
  position: relative;
}

.main > picture > img {
  position: absolute;
  bottom: -370px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-item-wrapper {
  margin: 40px 0;
}

.about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about-item:first-child {
  padding-right: 30px;
}

.about-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-top: 20px;
}

.about-item__paragraph {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.about-item-feedback {
  background: #F2F2F2;
  margin: 20px 0;
}

.feedback-item {
  padding: 22px 32px;
}

.feedback-item__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
}

.feedback-item .fa-star {
  color: #9d9d9d;
}

.feedback-item .fa-star:first-child {
  margin-left: 10px;
}

.feedback-item .fa-star.active {
  color: #ffdf6b;
}

.feedback-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other-models__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  background: #f2f2f2;
  padding: 110px 20px 20px;
  margin-bottom: 80px;
}

.other-models__item > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.other-models__item:hover .item-model__icon {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
      -ms-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.item-model__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.news-article__title {
  text-align: center;
  margin: 41px 0 103px;
}

.news-background-1 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.news-background-2 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.fullscreen-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}

.fullscreen-article > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  overflow: hidden;
  height: 100%;
}

.fullscreen-article__icon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.fullscreen-article__icon:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.fullscreen-article__date {
  display: block;
  margin-top: 10px;
}

.fullscreen-article__paragraph {
  margin: 30px 0;
  padding-bottom: 70px;
}

.fullscreen-article.flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.news-article-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px 34px;
  background: #000;
  color: #fff;
}

.news-articles-small.flex .flex-news__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  margin-top: 33px;
}

.accessories__first-content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73)), to(rgba(0, 0, 0, 0))), url("../img/news/bike.jpg") top/cover no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0) 100%), url("../img/news/bike.jpg") top/cover no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0) 100%), url("../img/news/bike.jpg") top/cover no-repeat;
  background-size: 100%;
  width: 100%;
  height: 500px;
  position: relative;
  color: #fff;
  padding: 50px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom: 75px;
}

.accessories__second-content.flex {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.accessories__second-content.flex > *:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.accessories__second-content.flex > *:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.accessories__content {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.first-accessories {
  margin-top: 60px;
}

.first-accessories__title {
  z-index: 2;
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

.first-accessories__date {
  z-index: 2;
  font-weight: 100;
  position: relative;
  margin-top: 10px;
}

.second-accessories {
  margin-bottom: 75px;
}

.second-accessories__content {
  padding-right: 30px;
}

.second-accessories__img {
  width: 100%;
  height: 100%;
}

.third-accessories {
  margin-bottom: 75px;
}

.section-header {
  margin-top: 80px;
  padding-bottom: 80px;
  position: relative;
  top: 0;
  -webkit-transition: margin-top .3s ease-in-out 0s;
  -o-transition: margin-top .3s ease-in-out 0s;
  transition: margin-top .3s ease-in-out 0s;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, -10%);
      -ms-transform: translate(0, -10%);
          transform: translate(0, -10%);
}

.section-header.down {
  margin-top: 100px;
}

.section-header__container {
  width: 1330px;
}

.section-header__pre-title {
  margin-bottom: 5px;
}

.section-header__title {
  margin-bottom: 35px;
}

.section-header__paragraph {
  padding: 7px 25px;
  background: #000;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.two-block {
  position: relative;
}

.two-block__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.category {
  padding-bottom: 170px;
}

.category__title {
  padding-top: 118px;
  padding-bottom: 30px;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 856px;
}

.swiper-slide__icon-1 {
  display: block;
  margin: 44px auto 0 auto;
  position: relative;
  z-index: 5;
  width: 270px;
}

.swiper-slide__text {
  color: transparent;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  padding: 0 10px;
}

.swiper-slide-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  transform: skew(-25deg);
  display: block;
}

.swiper-slide-wrapper.road:after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
          transform: skew(25deg);
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  background: url("../img/1/road-bg.jpg") center/cover no-repeat;
}

.swiper-slide-wrapper.offroad:after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
          transform: skew(25deg);
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  background: url("../img/1/offroad-bg.jpg") center/cover no-repeat;
}

.swiper-slide-wrapper.forest:after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
          transform: skew(25deg);
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  background: url("../img/1/street-bg.jpg") center/cover no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background: 0 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 28px;
}

.с-swiper-button-prev {
  left: 10%;
}

.с-swiper-button-next {
  right: 10%;
}

.swiper-slide-link {
  position: relative;
  z-index: 5;
  -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
          transform: skew(25deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 45px;
  padding-bottom: 25px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.interest {
  padding-bottom: 100px;
}

.interest__title {
  margin-bottom: 30px;
}

.interest__grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.item-interest {
  position: relative;
  background: #141414;
}

.item-interest__title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  display: block;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.item-interest__title.hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.item-interest__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  display: block;
  text-align: right;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.item-interest__paragraph.hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.item-interest__icon {
  position: absolute;
  bottom: 0;
  left: 0;
}

.item-interest__img {
  display: block;
  margin: 30px auto 0 auto;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.item-interest__img.hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.item-interest__content {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.item-interest__content.hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.item-interest a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.main-grid-item {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  height: 450px;
  overflow: hidden;
  padding: 59px 72px;
}

.text {
  background: #F2F2F2;
}

.text__container {
  padding: 50px 10px;
  font-weight: 400;
  font-size: 20px;
}

.text__container span {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.text__second {
  padding-top: 30px;
}

.bike-is__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bike-is__container {
  padding-bottom: 170px;
}

.bike-is__title {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding: 83px 0 153px;
}

.bike-is__flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.bike-is__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  background: #F2F2F2;
}

.item-bike-is {
  padding: 0 18px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-bike-is__icon {
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.item-bike-is__icon.hover {
  -webkit-transform: translate(-50%, 0) scale(1.1);
      -ms-transform: translate(-50%, 0) scale(1.1);
          transform: translate(-50%, 0) scale(1.1);
}

.item-bike-is__title {
  padding-top: 57px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 31px;
}

.item-bike-is__paragraph {
  text-align: center;
  margin-top: 10px;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.news-wrapper {
  position: relative;
}

.news {
  padding-bottom: 100px;
}

.news__container {
  padding-bottom: 50px;
  position: relative;
  padding: 0 80px;
}

.news__title {
  display: block;
  text-align: center;
  margin-bottom: 63px;
}

.news-slider {
  max-width: 1098px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.news .d-swiper-button-prev {
  font-size: 16px;
  color: #000;
  position: absolute;
  top: 59%;
  left: 40px;
}

.news .d-swiper-button-next {
  font-size: 16px;
  color: #000;
  position: absolute;
  top: 59%;
  right: 40px;
}

.news__link {
  display: block;
  overflow: hidden;
}

.flex-news__item {
  background: #F2F2F2;
  overflow: hidden;
}

.item-flex-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-flex-news__icon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 288px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.item-flex-news__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  display: block;
  text-align: center;
  margin: 20px 0 14px 0;
  padding: 0 15px;
}

.item-flex-news__paragraph {
  padding: 0 15px;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-flex-news__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  border: 3px solid #000000;
  display: block;
  padding: 12px;
  text-align: center;
  margin-top: 20px;
  background: transparent;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.item-flex-news__link:hover {
  background: #000;
  color: #fff;
}

.e-mail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/6/background-1.png") no-repeat;
  height: 658px;
}

.e-mail__title {
  padding: 0 15px;
}

.e-mail__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.e-mail__button {
  max-width: 252px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background: #000;
  text-transform: uppercase;
  padding: 11px 39px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.e-mail__input {
  width: 415px;
  padding: 8px 20px;
  border: 3px solid #000000;
  margin: 0 auto;
  color: #000;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.e-mail__input[placeholder] {
  font-weight: normal;
  font-size: 18px;
}

.e-mail .bike-is__title {
  padding-bottom: 30px;
  padding-top: 0;
}

.footer {
  background: #151515;
  padding: 55px 0;
  color: #fff;
}

.footer .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer .fa-instagram {
  color: #fff;
  position: relative;
  padding-bottom: 5px;
}

.footer .fa-instagram:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.footer .fa-facebook-f {
  color: #fff;
  position: relative;
  padding-bottom: 5px;
}

.footer .fa-facebook-f:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.ul-footer__title {
  margin-bottom: 10px;
  position: relative;
}

.ul-footer__title.active:after {
  -webkit-transform: translate(0, -50%) rotate(405deg);
      -ms-transform: translate(0, -50%) rotate(405deg);
          transform: translate(0, -50%) rotate(405deg);
}

.ul-footer__title.active:before {
  -webkit-transform: translate(0, -50%) rotate(-405deg);
      -ms-transform: translate(0, -50%) rotate(-405deg);
          transform: translate(0, -50%) rotate(-405deg);
}

.ul-footer__li {
  padding: 5px 0;
}

.ul-footer__li a {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 100;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom .3s ease;
  -o-transition: border-bottom .3s ease;
  transition: border-bottom .3s ease;
}

.footer-outro {
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .item-header__cart {
    padding-right: 48px;
    cursor: pointer;
    display: block;
  }

  .menu__black-cart {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .main-item__flex {
    position: relative;
  }

  .main-item__flex:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    z-index: 10;
  }

  .main-item__flex:last-child:after {
    display: none;
  }

  .main-item__container.cart._container {
    position: static;
  }

  .ul-footer {
    max-width: 200px;
  }
}

@media (min-width: 992px) {
  .article-link:hover {
    border-bottom: 1px solid #fff;
  }

  .card-header:hover {
    background: #D5D5D5;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .name-item-main__link:hover {
    background: #000;
    color: #fff;
  }

  .accessories__first-content:hover {
    background-size: 105%;
  }

  .section-header__paragraph:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  .swiper-slide-link:hover {
    -webkit-transform: skew(25deg) scale(1.1);
        -ms-transform: skew(25deg) scale(1.1);
            transform: skew(25deg) scale(1.1);
  }

  .item-flex-news__icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .e-mail__button:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .e-mail__input:hover {
    background: #000;
    color: #fff;
  }

  .footer .fa-instagram:hover:after {
    background: #fff;
  }

  .footer .fa-facebook-f:hover:after {
    background: #fff;
  }

  .ul-footer__li a:hover {
    border-bottom: 2px solid #fff;
  }
}

@media (min-width: 1400px) {
  .news-background-2 {
    display: none;
  }
}

@media (max-width: 1400px) {
  .news-background-1 {
    height: 40%;
  }

  .item-flex-news__icon {
    height: 400px;
  }
}

@media (max-width: 1340px) {
  .header-block.cart:not(.news) ._container {
    padding: 0 15px;
  }
}

@media (max-width: 1300px) {
  .main-item .swiper-wrapper {
    padding-left: 0;
  }

  .main-item .swiper-button-prev {
    left: 20px;
  }
}

@media (max-width: 1200px) {
  .section-header__img {
    width: 500px;
  }

  .main-item__container.cart,
  .header__container.cart {
    background: #f2f2f2;
  }

  .name-item-main.cart {
    background: #f2f2f2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }

  .other-models__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }

  .other-models__item:last-child {
    margin: 50px auto 80px auto;
  }

  .news-articles-small.flex .flex-news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }

  .news-articles-small.flex .flex-news__item > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .news-articles-small.flex .flex-news__item .item-flex-news__icon {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }

  .news-articles-small.flex .flex-news__item .item-flex-news__icon:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .bike-is__img {
    height: 100%;
  }

  .item-flex-news__icon {
    height: 300px;
  }
}

@media (max-width: 1200px) and (max-width: 767.98px) {
  .news-articles-small.flex .flex-news__item .item-flex-news__icon {
    height: 45vh;
    width: 100vw;
  }
}

@media (max-width: 1150px) {
  .menu__list {
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@media (max-width: 1100px) {
  .interest__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px 250px 250px;
    grid-gap: 25px;
  }

  .main-grid-item {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
}

@media (max-width: 991.98px) {
  .title {
    font-size: 54px;
  }

  .section-header__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-header__title.second-page {
    text-align: center;
    margin-top: 20px;
  }

  .section-header-wrapper {
    padding: 0;
  }

  .main-item__container {
    padding: 0;
  }

  .main-item__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .name-item-main {
    padding: 30px 15px 30px;
    width: 100%;
  }

  .main-slider-swiper {
    margin-top: 30px;
  }

  .header-block.cart:not(.news) .header__container {
    padding-top: 15px !important;
  }

  .header-form__card.cart {
    display: none;
  }

  .main-item__flex.cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .name-item-main.cart {
    padding-left: 0;
    text-align: center;
  }

  .main-slider-swiper.cart {
    background: transparent;
    width: 100%;
  }

  .accessories-carts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .accessories-cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    min-width: 150px;
  }

  .amount-cart {
    max-width: 302px;
    margin: 0 auto;
  }

  .form-cart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flex-cart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flex-cart-wrapper:not(:first-child) {
    padding-left: 30px;
  }

  .main > picture > img {
    width: 100%;
    height: 85%;
  }

  .about-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .accessories__first-content {
    height: 350px;
    margin-bottom: 50px;
  }

  .accessories__second-content.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .accessories__second-content.flex > *:nth-child(2) {
    margin-top: 50px;
  }

  .accessories__second-content.flex > *:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 0;
  }

  .bike-is__title {
    padding-top: 50px;
  }

  .e-mail__container {
    background-position: center;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .fa-instagram {
    font-size: 25px;
  }

  .footer .fa-facebook-f {
    font-size: 25px;
    margin-left: 20px;
  }

  .footer-wrapper-main {
    display: block;
  }

  .ul-footer__title {
    font-size: 25px;
  }

  .ul-footer__title:after,
  .ul-footer__title:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .ul-footer__title:after {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
    right: 9px;
  }

  .ul-footer__title:before {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    right: 16px;
  }

  .ul-footer__li {
    display: block;
  }

  .footer-wrapper {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .accordeon-wrapper {
    display: block;
    padding: 5px;
  }

  .accordeon-body {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .accordeon-body.active {
    max-height: 1400px;
    opacity: 1;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .menu__link {
    font-size: 25px;
  }

  .menu__link:first-child,
  .menu__link:last-child {
    padding: 0;
  }

  .menu__list li {
    margin: 10px 0;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    left: 0;
  }

  .menu {
    position: static;
  }

  .menu__list {
    top: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate(-100%, 0%);
        -ms-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
    padding: 115px 20px 20px 20px;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
  }

  .menu__list.active {
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    position: absolute;
    top: 0;
    left: 0;
  }

  .title {
    font-size: 50px;
    line-height: 55px;
  }

  .header {
    padding-top: 20px;
  }

  .flex-header__img {
    margin-left: -18px;
  }

  .header-form {
    width: 0;
    display: none;
  }

  .header-form__input {
    display: none;
    width: 93vw;
  }

  .header-form__icon {
    width: 20px;
    height: 21px;
    margin-left: -20px;
    display: block;
  }

  .header-form__card {
    padding-left: 20px;
  }

  .header-form__card:before {
    display: none;
  }

  .section-header__img {
    width: 400px;
  }

  .main-item .swiper-slide {
    padding-bottom: 40px;
  }

  .main-item .swiper-slide img {
    width: 95%;
  }

  .main-item .swiper-button-prev,
  .main-item .swiper-button-next {
    display: none;
  }

  .main-item-wrapper.cart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flex-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .flex-cart-wrapper:not(:first-child) {
    padding-left: 0;
  }

  .other-models__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 50px auto 80px auto;
  }

  .news-article__title {
    margin-bottom: 30px;
  }

  .fullscreen-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fullscreen-article__icon {
    max-height: 300px;
    width: 100vw;
  }

  .fullscreen-article__paragraph {
    padding-bottom: 20px;
  }

  .news-articles-small.flex .flex-news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .accessories__first-content {
    background-size: cover;
    padding: 20px;
  }

  .third-accessories {
    margin-bottom: 20px;
  }

  .third-accessories__content {
    margin-bottom: 20px;
  }

  .section-header__pre-title {
    margin-bottom: 10px;
  }

  .с-swiper-button-prev {
    left: 5.5%;
  }

  .с-swiper-button-next {
    right: 5.5%;
  }

  .main-grid-item {
    padding: 30px;
  }

  .bike-is__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .bike-is__item:last-child {
    margin: 120px auto 0 auto;
  }

  .e-mail__container {
    background-size: contain;
    height: auto;
    padding: 50px 0;
  }

  .e-mail__input {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .bike-is__title {
    padding-bottom: 100px;
  }

  .bike-is__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    margin: 0 auto;
  }

  .bike-is__item:nth-child(2),
  .bike-is__item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    margin: 120px auto 0 auto;
    min-height: 200px;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 40px;
    line-height: 45px;
  }

  .swiper-slide-wrapper {
    -webkit-transform: skew(0);
        -ms-transform: skew(0);
            transform: skew(0);
  }

  .swiper-slide-wrapper.road:after {
    -webkit-transform: skew(0);
        -ms-transform: skew(0);
            transform: skew(0);
  }

  .swiper-slide-wrapper.offroad:after {
    -webkit-transform: skew(0);
        -ms-transform: skew(0);
            transform: skew(0);
  }

  .swiper-slide-wrapper.forest:after {
    -webkit-transform: skew(0);
        -ms-transform: skew(0);
            transform: skew(0);
  }

  .swiper-slide-link {
    -webkit-transform: skew(0);
        -ms-transform: skew(0);
            transform: skew(0);
  }

  .interest__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-interest__title {
    font-size: 26px;
  }

  .item-interest__content {
    padding-bottom: 30px;
  }

  .news__container {
    padding: 0 15px;
  }

  .news .d-swiper-button-prev {
    display: none;
  }

  .news .d-swiper-button-next {
    display: none;
  }
}

@media (max-width: 500px) {
  .section-header__img {
    width: 300px;
  }

  .accessories-cart {
    min-width: 140px;
  }

  .accessories-cart__img {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .other-models-wrapper.modify {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .other-models-wrapper .name-item-main__color {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .e-mail__container {
    background-size: cover;
  }
}

@media (max-height: 650px) {
  .section-header {
    height: 100vh;
  }
}